main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-control-prev {
  color: black;
}

.carousel-caption h2 {
  color: rgb(0, 0, 0);
}

.carousel img {
  height: 250px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
